name: Build LLVM Clang LLD for iOS

on:
  workflow_dispatch:

jobs:
  build-ios-llvm:
    runs-on: macos-latest

    env:
      LLVM_VERSION: 20.1.8
      TARGET: arm64-apple-ios16.0
      MCPU: baseline
      CACHE_VERSION: v1

    steps:
    - name: Checkout LLVM
      uses: actions/checkout@v4
      with:
        repository: llvm/llvm-project
        ref: llvmorg-20.1.8
        fetch-depth: 1

    # -----------------------------
    # Cache LLVM builds (host + iOS)
    # -----------------------------
    - name: Restore LLVM host cache
      id: cache-llvm-host
      uses: actions/cache/restore@v4
      with:
        path: out/host
        key: ${{ runner.os }}-llvm20-host
        
  

    # -----------------------------
    # Download iOS SDK (Procursus)
    # -----------------------------
    - name: Prepare iOS SDK
      run: |
        SDK=$(xcrun --sdk iphoneos --show-sdk-path)
        echo "SDK_PATH=$SDK" >> $GITHUB_ENV

    #ROOTDIR="$(pwd)"

    #wget -q https://github.com/xybp888/iOS-SDKs/releases/download/iOS-SDKs/iPhoneOS16.1.sdk.zip
    #unzip -q iPhoneOS16.1.sdk.zip
        
     
    # -----------------------------
    # LLVM HOST (macOS tools only)
    # -----------------------------
    - name: Build LLVM host (tablegen, ar, ranlib)
      if: steps.cache-llvm-host.outputs.cache-hit != 'true'
      run: |
        ROOTDIR="$(pwd)"
        mkdir -p "$ROOTDIR/out/build-llvm-host"
        cd "$ROOTDIR/out/build-llvm-host"
        cmake -G Ninja "$ROOTDIR/llvm" \
          -DCMAKE_INSTALL_PREFIX="$ROOTDIR/out/host" \
          -DCMAKE_PREFIX_PATH="$ROOTDIR/out/host" \
          -DCMAKE_BUILD_TYPE=Release \
          -DLLVM_TARGETS_TO_BUILD="AArch64" \
          -DLLVM_ENABLE_BINDINGS=OFF \
          -DLLVM_ENABLE_LIBEDIT=OFF \
          -DLLVM_ENABLE_LIBPFM=OFF \
          -DLLVM_ENABLE_LIBXML2=OFF \
          -DLLVM_ENABLE_OCAMLDOC=OFF \
          -DLLVM_ENABLE_PLUGINS=OFF \
          -DLLVM_ENABLE_PROJECTS="lld;clang" \
          -DLLVM_ENABLE_Z3_SOLVER=OFF \
          -DLLVM_ENABLE_ZSTD=OFF \
          -DLLVM_INCLUDE_UTILS=OFF \
          -DLLVM_INCLUDE_TESTS=OFF \
          -DLLVM_INCLUDE_EXAMPLES=OFF \
          -DLLVM_INCLUDE_BENCHMARKS=OFF \
          -DLLVM_INCLUDE_DOCS=OFF \
          -DLLVM_TOOL_LLVM_LTO2_BUILD=OFF \
          -DLLVM_TOOL_LLVM_LTO_BUILD=OFF \
          -DLLVM_TOOL_LTO_BUILD=OFF \
          -DLLVM_TOOL_REMARKS_SHLIB_BUILD=OFF \
          -DCLANG_BUILD_TOOLS=OFF \
          -DCLANG_INCLUDE_DOCS=OFF \
          -DCLANG_INCLUDE_TESTS=OFF \
          -DCLANG_TOOL_CLANG_IMPORT_TEST_BUILD=OFF \
          -DCLANG_TOOL_CLANG_LINKER_WRAPPER_BUILD=OFF \
          -DCLANG_TOOL_C_INDEX_TEST_BUILD=OFF \
          -DCLANG_TOOL_ARCMT_TEST_BUILD=OFF \
          -DCLANG_TOOL_C_ARCMT_TEST_BUILD=OFF \
          -DCLANG_TOOL_LIBCLANG_BUILD=OFF
          cmake --build . --target install -- -j$(sysctl -n hw.logicalcpu)

    - name: Save LLVM host cache
      id: cache-llvm-host-save
      if: always() && steps.cache-llvm-host.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ steps.cache-llvm-host.outputs.cache-primary-key }}
        path: out/host
    # -----------------------------
    # LLVM TARGET (iOS)
    # -----------------------------
    - name: Build LLVM for iOS
      run: |
        ROOTDIR="$(pwd)"
        mkdir -p "$ROOTDIR/out/build-llvm-$TARGET-$MCPU"
        cd "$ROOTDIR/out/build-llvm-$TARGET-$MCPU"

        cmake -G Ninja "$ROOTDIR/llvm" \
          -DCMAKE_INSTALL_PREFIX="$ROOTDIR/out/$TARGET-$MCPU" \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_SYSTEM_NAME=iOS \
          -DCMAKE_CROSSCOMPILING=TRUE \
          -DCMAKE_OSX_SYSROOT="$SDK_PATH" \
          -DLLVM_TARGETS_TO_BUILD="AArch64" \
          -DCMAKE_MACOSX_BUNDLE=OFF \
          -DLLVM_ENABLE_LIBATOMIC=OFF \
          -DHAVE_CXX_ATOMICS_WITHOUT_LIB=ON \
          -DHAVE_CXX_ATOMICS64_WITHOUT_LIB=ON \
          -DCMAKE_OSX_DEPLOYMENT_TARGET="16.0" \
          \
          -DCMAKE_C_FLAGS="-fno-sanitize=all -arch arm64" \
          -DCMAKE_CXX_FLAGS="-fno-sanitize=all -arch arm64" \
          -DCMAKE_ASM_FLAGS="-fno-sanitize=all -arch arm64" \
          \
          -DLLVM_ENABLE_PROJECTS="clang;lld" \
          -DLLVM_DEFAULT_TARGET_TRIPLE="$TARGET" \
          \
          -DLLVM_INCLUDE_TOOLS=ON \
          -DLLVM_BUILD_TOOLS=ON \
          -DLLVM_INCLUDE_UTILS=ON \
          -DCLANG_TOOL_CLANG_CHECK_BUILD=OFF \
          -DCLANG_TOOL_CLANG_TIDY_BUILD=OFF \
          -DCLANG_TOOL_CLANG_FORMAT_BUILD=OFF \
          -DCLANG_TOOL_CLANG_REFACTOR_BUILD=OFF \
          -DLLVM_ENABLE_LIBXML2=OFF \
          -DLLVM_ENABLE_TERMINFO=OFF \
          -DLLVM_ENABLE_LIBEDIT=OFF \
          -DLLVM_USE_HOST_TOOLS=ON \
          -DLLVM_ENABLE_BACKTRACES=OFF \
          -DLLVM_ENABLE_LTO=THIN \
          -DLLVM_BUILD_LLVM_DYLIB=ON \
          -DLLVM_ENABLE_RTTI=ON \
          -DLLVM_ENABLE_EH=ON \
          -DLLVM_INCLUDE_TESTS=OFF \
          -DLLVM_INCLUDE_EXAMPLES=OFF \
          -DLLVM_INCLUDE_BENCHMARKS=OFF \
          -DLLVM_INCLUDE_DOCS=OFF \
          -DLLVM_ENABLE_ZLIB=OFF \
          -DLLVM_ENABLE_ZSTD=OFF \
          -DCMAKE_SHARED_LINKER_FLAGS="" \
          -DCMAKE_MODULE_LINKER_FLAGS="" \
          -DCMAKE_EXE_LINKER_FLAGS="" \
          -DLLVM_BUILD_STATIC=OFF \
          -DLLVM_TABLEGEN="$ROOTDIR/out/host/bin/llvm-tblgen" \
          -DCLANG_TABLEGEN="$ROOTDIR/out/host/bin/clang-tblgen" \
          -DCMAKE_AR="$ROOTDIR/out/host/bin/llvm-ar" \
          -DCMAKE_RANLIB="$ROOTDIR/out/host/bin/llvm-ranlib"
        sed -i '' 's/-Wl,--gc-sections//g' build.ninja
        cmake --build . --target install -- -j$(sysctl -n hw.logicalcpu) 
      #sed -i '' 's/-Wl,--gc-sections//g' build.ninja
      #sed -i '' 's/-Wl,-z,defs//g' build.ninja
      #sed -i '' 's/-Bsymbolic-functions//g' build.ninja
      #sed -i '' 's/--version-script[^ ]*//g' build.ninja
      #sed -i '' 's/--whole-archive//g' build.ninja
      #sed -i '' 's/--no-whole-archive//g' build.ninja
      #sed -i '' 's/-Wl,[[:space:]]*/ /g' build.ninja
      #sed -i '' 's/-Wl,,*/ /g' build.ninja
      #sed -i '' 's/[[:space:]]\+/ /g' build.ninja
        

    # -----------------------------
    # Upload artifact
    # -----------------------------
    - name: Upload LLVM iOS toolchain
      uses: actions/upload-artifact@v4
      with:
        name: llvm-clang-lld-ios
        path: out/arm64-apple-ios*
